body {
  background-color: #FFFFFF;
  margin: 0px 0px;
  padding: 0px 0px;
}

.header {
  background-color: #F55A5A;
  color: #FFFFFF;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 27px;
}

.header-img {
  margin-right: 7px;
}

.header-text {
  font-size: 14px;
}

.main-img {
  height: 168px;
  width: 125px;
  border: none;
  border-radius: 5px;

}

.container {
  display: flex;
  height: 168px;
  max-width: 470px;
  justify-content: center;
  margin: 18px auto;

}

.info-container {
  display: flex;
  flex-direction: column;
  padding-left: 19px;

}

.first-line-info {
  display: flex;
  justify-content: baseline;
  align-items: baseline;
  padding-bottom: 7px;
  padding-top: 10px;

}

.text {
  font-size: 10px;
}

.link {
  color: #918E9B;
  font-size: 10px;
  padding-left: 6px;
}

.location {
  color: #2B283A;
  letter-spacing: 5px;
  font-style: normal;
  text-transform: uppercase;
  font-size: 10px;
  padding-right: 6px;


}




.title {
  color: #2B283A;
  font-size: 25px;
  font-weight: bold;
  text-align: top;
  margin-top: 0px;
}

.date {
  color: #2B283A;
  font-weight: bold;
  font-size: 10px;
  margin-top: -10px;
}

.city {
  margin-left: 8px;
}